name: CD - RetNova Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Deploy to Railway
        uses: railwayapp/railway-deploy@v1
        with:
          railwayToken: ${{ secrets.RAILWAY_TOKEN }}
          service: IS2-RetNova-Desarrollo
